<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {% include _google-analytics.html %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include _head.html %}
</head>

<body class="post">
{% include _navigation.html %}

<main id="main">
    <aside class="article-author-side">
        {% include _author-bio.html %}
    </aside>
    
    <article>
        <header class="headline-wrap">
            <h1>{{ page.title }}</h1>
            <p class="meta">{{ page.date | date_to_string }}{% if page.location %} - {{ page.location }}{% endif %}</p>
        </header>
        
        <div class="article-wrap">
            {{ content }}
            <hr />
            
            <footer>
                <div class="article-author-bottom">
                    {% include _author-bio.html %}
                </div>
                <p class="byline">
                    <strong>{{ page.title }}</strong> was published on 
                    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time> 
                    by <a href="{{ site.url }}/about" title="About {{ site.owner.name }}">{{ site.owner.name }}</a>.
                </p>
            </footer>
        </div>
    </article>
</main>

<div class="footer-wrap">
    <div class="related-articles">
        <h4>You might also enjoy <small class="pull-right">(<a href="{{ site.url }}">View all posts</a>)</small></h4>
        <ul>
            {% for post in site.related_posts limit:3 %}
            <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
        <hr />
    </div>
    
    <footer>
        {% include _footer.html %}
    </footer>
</div>

{% include _scripts.html %}
</body>
</html>
